<div class="page-content pre-scrollable">
    <div class="page-header">
        <h4>
            {:model('menu')->getName()} {gt name="$Request.get.group_id" value="0"} [{:model('AdminGroup')->getGroupName($Request.get.group_id)}]{/gt}
        </h4>
    </div><!-- /.page-header -->

    <div class="row" style="width: 98%;">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <p>已注册人数：{$other.count}</p>
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>用户名</th>
                                <th>性别</th>
                                <th>地址</th>
                                <th>联系方式</th>
                                <th>类型</th>
                                <th>是否有电梯</th>
                                <th>楼层</th>
                                <th>注册时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody>

                        <form  action="" method="post" name="myform">

                            {volist name="lists" id="vo"  key="k"}
                            <tr>
                                <td> {:$k+$page*13}</td>
                                <td>{$vo.user_name}</td>
                                <td>{if $vo.u_gender==0}未知{else}{:$vo.u_gender==1?"男":"女"}{/if}</td>
                                <td>{:$vo.user_address?$vo.user_address:"还未填写地址"}</td>
                                <td>{:$vo.user_phone?$vo.user_phone:"还未填写手机号"}</td>                               
                                <td>{if $vo.user_role == 1}<span class='color_bule'>会员</span>{elseif $vo.user_role==2}<span class='color_red'>企业用户</span>
                                    {elseif $vo.user_role==3}<span class='color_bule'>水店</span>{else}普通用户{/if}</td>
                                <td>{:$vo.user_iselevator?有:否}</td>
                                <td>{:$vo.user_floor}层</td>
                                <td>{:Date('Y-m-d H:m:s',$vo.registertime)}</td>
                                <td>{if !$vo.u_isvip}<button class="btn btn-success" onclick="ispass_user('/admin/Userinfo/ispass',{$vo.user_id})">通过</button>{else}<span>已审核</span>{/if}</td>
                            </tr>
                            {/volist}  
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!--分页页码-->
<div style="position: absolute;left: -10em;width:100%;text-align: center;">

    <ul class="page_ul">
        <li>
        {if $page != 0}
            <a class="page_a" onclick="menutab('/admin/Userinfo/index',{'num':{:$page-1},'op':0})"><</a>
        {else}
            <a class="page_a page_a_on" onclick="tip('已经是第一页了')" ><</a>
        {/if}
        </li>
                {for start="0" end="$page_count" step="1" name="pageval"}
                {if ($page+1)>($page_count-3)}
                    <li style="{if $page<=($pageval-3)||$page>=($pageval+6-($page_count-$page))}display: none;{/if}">
                {elseif ($page+1)>3}
                    <li style="{if $page<=($pageval-3)||$page>=($pageval+3)}display: none;{/if}">
                {else}
                    <li style="{if $page<=($pageval-5+$page)||$page>=($pageval+3)}display: none;{/if}">
                {/if}
                    <a href="javascript:;"   class="page_a {if $page==$pageval}page_a_on{/if}" {if $page!=$pageval} onclick="menutab('/admin/Userinfo/index',{'num':{$pageval}})"{/if}>{$pageval+1}</a>
                    </li>
                {/for}
        <li>
        {if $N_flag}
            <a class="page_a" onclick="menutab('/admin/Userinfo/index',{'num':{:$page+1},'op':1})">></a>
        {else}
            <a class="page_a  page_a_on" onclick="tip('最后一页了')">></a>
        {/if}
        </li>
     </ul>
     <!-- 跳到第几页-->
     <!-- <input type="text" style="width: 2em;position: relative;top: -0.5em;left: 0.5em;"> -->
     <!-- <span class="page_a" style="width: 2em;position: relative;top: -0.5em;left: 0.5em;">GO</span> -->
        <span style="position: relative;top:-0.3em;left:1em;">共{$_SESSION['pagecount']}条</span>

</div>
<!--分页页码结束 -->



