<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>订水系统 1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lte IE 9]>
        <script>alert("不支持该版本");window.location.href("https://www.baidu.com/s?ie=utf-8&f=3&rsv_bp=1&tn=baidu&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8%E5%AE%98%E7%BD%91%E4%B8%8B%E8%BD%BD&oq=%25E8%25B0%25B7%25E6%25AD%258C%25E6%25B5%258F%25E8%25A7%2588%25E5%2599%25A8%25E4%25B8%258B%25E8%25BD%25BD&rsv_pq=cfa10a5d0005768f&rsv_t=c194mkmU44LpR2ZdjR49p9Zbsp1HgRmi8E2yB4BmvOcEAWC%2BefGMQ9xJzl4&rqlang=cn&rsv_enter=0&inputT=6096&rsv_sug3=272&rsv_sug1=244&rsv_sug7=100&rsv_sug2=1&prefixsug=%25E8%25B0%25B7%25E6%25AD%258C%25E6%25B5%258F%25E8%25A7%2588%25E5%2599%25A8%25E5%25AE%2598%25E7%25BD%2591&rsp=0&rsv_sug4=7130");</script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <!-- Le styles -->
    <script type="text/javascript" src="{:config('public.static')}/assets/js/jquery.min.js"></script>

    <link rel="stylesheet" href="{:config('public.static')}/assets/css/style.css">
    <link rel="stylesheet" href="{:config('public.static')}/assets/css/loader-style.css">
    <link rel="stylesheet" href="{:config('public.static')}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{:config('public.static')}/assets/css/signin.css">

    <link rel="shortcut icon" href="{:config('public.static')}/assets/ico/minus.png">
</head>

<body> 
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    
    <div class="container">



        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>销售桶装水管理系统
                            <span>v1.0</span>
                        </h1>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box"> 
                        <form role="form" name="myform" action="/admin/Login/index" method="post">
                            <div class="form-group">
                                <!--a href="#" class="pull-right label-forgot">Forgot email?</a-->
                                <label for="inputUsernameEmail">用户名</label>
                                <input type="text" id="inputUsernameEmail" name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <!--a href="#" class="pull-right label-forgot">Forgot password?</a-->
                                <label for="inputPassword">密码</label>
                                <input type="password" id="inputPassword" name="password" class="form-control">
                            </div>
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" name="islogin">记住用户名</label>
                            </div>
                            <input type="hidden" name="dosubmit" value="1">
                            <button class="btn btn btn-primary pull-right" type="submit" onclick="myform.submit()">
                                登 录
                            </button>
                        </form>
                        <div class="row-block">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">Copyright(C)2017 edit by yehith<br /></h6>
        </div>

    </div>
    <div id="test1" class="gmap3"></div>



    <!--  END OF PAPER WRAP -->




    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="{:config('public.static')}/assets/js/preloader.js"></script>
    <script type="text/javascript" src="{:config('public.static')}/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="{:config('public.static')}/assets/js/app.js"></script>
    <script type="text/javascript" src="{:config('public.static')}/assets/js/load.js"></script>
    <script type="text/javascript" src="{:config('public.static')}/assets/js/main.js"></script>
    <script type="text/javascript">
        
    </script>




</body>

</html>
